:root {
    --tabs-pad-height: 30px;

    /* THEME: */
    --theme-color: limegreen;
    --border: 1px solid darkgrey;
    --shadow: 0 0 10px grey;
}

body {
    display: grid;
    grid-template-rows: calc(100vh - var(--tabs-pad-height) - 1px) var(--tabs-pad-height);
    grid-template-columns: 100%;
    margin: 0;
    font-family: calibri, serif;
}

#sheets .sheet {
    display: none;
}
#sheets .sheet.selected {
    display: block;
    height: 100%;
    width: 100%;
    overflow: auto;
}

#sheets table {
    border-collapse: collapse;
}

#sheets td {
    border: 1px solid grey;
    background-color: white;
}
#sheets td > .content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
#sheets td > .content > label {
    padding: 5px 10px;
}

#sheets .heading > td {
    position: sticky;
    top: 0;
    box-shadow: var(--shadow);
    white-space: nowrap;
}
#sheets .heading > td  > .content > label{
    padding: 5px 20px;
}
#sheets .heading .sorter {
    align-self: end;
    height: 0;
    width: 0;
}
#sheets .heading .sorter > img{
    height: 15px;
    width: 15px;
    transform: translateX(-100%) translateY(-100%);
}

#tabs-pad {
    display: flex;
    height: 100%;
    background: gainsboro;
    border-top: var(--border);
}

#tabs-pad .tab {
    border-right: var(--border);
}
#tabs-pad .tab:hover {
    background-color: ghostwhite;
}
#tabs-pad .tab.selected {
    cursor: default;
    border-top: 5px solid var(--theme-color);
    background-color: ghostwhite;
    box-shadow: var(--shadow);
}

#tabs-pad .buttons {
    display: flex;
    margin-left: auto;
}
#tabs-pad .button {
    outline: 0 solid var(--theme-color);
}
#tabs-pad .button img {
    height: 25px;
    width: 25px;
}
#tabs-pad .button:hover {
    outline: 5px solid var(--theme-color);
    background-color: var(--theme-color);
    color: white;
}

#tabs-pad .tab,
#tabs-pad .button {
    user-select: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 5px;
    transition: 0.2s;
}
#tabs-pad .tab:hover,
#tabs-pad .button:hover {
    padding: 0 15px;
}