<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/worksheets.css}"/>
    <script type="module" th:src="@{/js/worksheets.js}"></script>
    <title>XLSX-web</title>
</head>
<body>
<sheets-pad>
    <th:block th:each="sheet : ${workbook}">
        <!-- Each table will be placed into this scrollable container "sheet" that is independent of other sheets -->
        <div class="sheet"
             th:name="${sheet.sheetName}">
            <table>
                <th:block th:each="row : ${sheet}">
                    <!-- Each first row of the sheet is a header -->
                    <tr th:class="${rowStat.index == 0} ? 'header'">
                        <th:block th:each="cell : ${row}">
                            <td th:style="${converter.XSSFCellStyleToCSS(cell.cellStyle)}">
                                <div class="content"
                                     th:text="${converter.getSimpleCellValue(cell)}">
                                </div>
                            </td>
                        </th:block>
                    </tr>
                </th:block>
            </table>
        </div>
    </th:block>
    <clipboard></clipboard>
</sheets-pad>
<tabs-pad>
    <th:block th:each="sheet : ${workbook}">
        <div class="tab"
             th:name="${sheet.sheetName}"
             th:text="${sheet.sheetName}"
        >
        </div>
    </th:block>
    <div class="buttons">
        <form class="button download"
              method="get"
              action="#" th:action="@{/file}"
              onclick="this.submit()">
            <img th:src="@{img/download.png}">
            Экспортировать
        </form>
        <div class="button edit">
            <img th:src="@{img/edit.png}">
            Редактировать
        </div>
    </div>
</tabs-pad>
</body>
</html>