<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/sheets.css}"/>
    <script type="module" th:src="@{/js/engine/engineStarter.js}"></script>
    <title>XLSX-web</title>
</head>
<body th:onload="${workbook.close()}">
<div id="sheets-pad">
    <th:block th:each="sheet : ${workbook}">
        <!-- Each table will be placed into this scrollable container "sheet" that is independent of other sheets -->
        <div class="sheet"
             th:name="${sheet.sheetName}">
            <table>
                <th:block th:each="row : ${sheet}">
                    <!-- Each first row of the sheet is a header -->
                    <tr th:class="${rowStat.index == 0} ? 'heading'">
                        <th:block th:each="cell : ${row}">
                            <td th:style="${converter.XSSFCellStyleToCSS(cell.cellStyle)}">
                                <div class="content">
                                    <label th:text="${cell}"></label>
                                </div>
                            </td>
                        </th:block>
                    </tr>
                </th:block>
            </table>
        </div>
    </th:block>
</div>
<div id="tabs-pad">
    <th:block th:each="sheet : ${workbook}">
        <div class="tab"
             th:text="${sheet.sheetName}"
        >
        </div>
    </th:block>
    <div class="buttons">
        <div class="button download">
            <img th:src="@{img/download.png}">
            Экспортировать
        </div>
        <div class="button edit">
            <img th:src="@{img/edit.png}">
            Редактировать
        </div>
    </div>
</div>
</body>
</html>